/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-ysprite.png?1296886151') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1296886151') repeat-x 0px -1397px;
}

/* @end */
